/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

/* knop 1 frontend */

.button-frontend {
  background-color: green;
  color: white;
}

/* knop 2 Design */
.button-design {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(10deg);
    transform: scale(1.2);
    background-color: peru;
    color: white;
  }

  20% {
    transform: rotate(40deg);
    background-color: green;
    color: white;
  }

  40% {
    transform: rotate(90deg);
    background-color: yellow;
    color: white;
  }

  60% {
    transform: rotate(120deg);
    background-color: brown;
    color: white;
  }

  80% {
    transform: rotate(200deg);
    background-color: lightcoral;
    color: white;
  }

  100% {
    transform: rotate(360deg);
    background-color: red;
    color: white;
  }
}

/* knop 3 & */

.button-and {
  animation-name: scale;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes scale {
  20% {
    transform: scale(0.8);
  }

  40% {
    transform: scale(0.6);
  }

  60% {
    transform: scale(0.4);
  }

  80% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* knop 4 Development */

.development-button {
  animation-name: shake;
  animation-duration: 10s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-10px);
  }

  20% {
    transform: translateX(10px);
  }

  30% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(10px);
  }

  70% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  90% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.development-button {
  animation: shake 0.5s ease-in-out;
}

/* knop 5  sprint 5 */
.sprint-button {
  animation-name: tilt;
  animation-duration: 10s;
}

@keyframes tilt {
  5% {
    transform: rotate(10deg);
  }

  10% {
    transform: rotate(15deg);
  }

  15% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(25deg);
  }
  25% {
    transform: rotate(30deg);
  }
  30% {
    transform: rotate(40deg);
  }
}

/* knop 6  fix */
.fix-button {
  animation-name: pulse;
  animation-duration: 10s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(247, 247, 247);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  }
}

/* knop 7 the */
.the-button {
  animation-name: fall;
  animation-duration: 10s;
}

@keyframes fall {
  0% {
    transform: translateY(-100);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

/* knop 8 flow */
.flow-button {
  animation-name: fall;
  animation-duration: 10s;
}

@keyframes fall {
  0% {
    transform: translateY(-100);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

/* knop 10 interface */
.interface-button {
  animation-name: colors;
  animation-duration: 10s;
}

@keyframes colors {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: purple;
  }
}
